@model IEnumerable<TripWise.Models.VoteOption>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OptionText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVoteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OptionText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoteNavigation.IdVote)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVoteOption">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVoteOption">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVoteOption">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
